.holder {
  display: flex;
  flex-wrap: wrap;
  width: 293px;
  height: 100px;
  margin: 0 auto;
  outline: 3px solid black;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.item {
  display: flex;
  justify-content: center;
  width: 95px;
  flex-wrap: wrap;
}
.item:last-child {
  order: -4;
  flex-basis: 50%;
  background-color: orange;
}
.item:first-child {
  order: -5;
  flex-basis: 50%;
  background-color: tomato;
}
.item:nth-child(3) {
  order: -3;
  flex-grow: 1;
  background-color: purple;
}

.item:nth-child(2) {
  order: -2;
  flex-grow: 1;

  background-color: skyblue;
}
.item:nth-child(4) {
  order: -1;
  flex-grow: 1;
  background-color: green;
}
